.progress-wrapper {
  height: 100%;
  flex-grow: 1;
  background-color: white;
}

.progress-cover {
  align-items: center;
  animation: fadeIn 0.5s;
  background-color: white;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
